# SportUni Configuration

# Base URL for the SportUni website
base_url: "https://www.tuni.fi/sportuni/omasivu/?newPage=selection&lang=en"

# Your SportUni credentials
email: "your.email@tuni.fi"
password: "your_password"

# State file for storing session information
state_file_name: "ms_user.json"

# Activity slots to book
# Date can be left emptied
activity_slots:
  - day: "Tue"
    date: ""
    hour: "16:00"
    activity: "Badminton"
  - day: "Wed"
    date: ""
    hour: "07:00"
    activity: "Badminton"
  - day: "Thu"
    date: ""
    hour: "10:00"
    activity: "Badminton"
  - day: "Fri"
    date: ""
    hour: "14:00"
    activity: "Tennis"

